<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.regalosdepelos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Regalosdepelos"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DescripcionApp"
            android:exported="false" />
        <activity
            android:name=".VerActivity"
            android:exported="false"
            android:parentActivityName=".Registros">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Registros" />
        </activity>
        <activity
            android:name=".EditarActivity"
            android:exported="false"
            android:parentActivityName=".Registros">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Registros" />
        </activity>
        <activity
            android:name=".Registros"
            android:exported="false"
            android:parentActivityName=".MenuPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuPrincipal" />
        </activity>

        <activity
            android:name=".IngresoTopper"
            android:exported="false"
            android:parentActivityName=".Registros">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Registros" />
        </activity>
        <activity
            android:name=".Ofertas"
            android:exported="false" />
        <activity
            android:name=".Contactenos"
            android:exported="false" />
        <activity
            android:name=".Catalogo"
            android:exported="false" />
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>